* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
div {
	position: relative;
	left: 32em;
	margin: 3em 0 0 0
}
span {
	text-transform: uppercase;
	letter-spacing: 2px;
}
input[type="text"] {
	padding: 4px  6px
}
input[type="submit"] {
	padding: 4px  6px;
	outline: none;
	margin: 0 0 0 15em;
}
h5 {
	margin: 2em 0 0 10em;

}